/02MachineLearn/resData
/02MachineLearn/resMnist
/02MachineLearn/lang
/02MachineLearn/saveFiles
/03DeepLearn/log_dir/
/04ImgClassifier/caltech101/
/04ImgClassifier/resData/
/04ImgClassifier/saveFiles/
/04ImgClassifier/predict_error/
/04ImgClassifier/download/
/04ImgClassifier/kfood/
/04ImgClassifier/test_img/
